.test-page {
  display: flex;
  flex-direction: column;
  margin-top: 10vh;
}

.test-page button,
.test-page input {
  font-size: 20px;
}

.test-page__mt {
  margin-top: 4vmin;
}

.test-page__sender {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 4vmin;
  width: 80vw;
}

.test-page__sender > *:not(:first-child) {
  margin-top: 1vmin;
}

.test-page__quote {
  position: fixed;
  bottom: 5px;
  left: 5px;
  background-color: #403d3d;
  padding: 10px;
  display: flex;
  flex-direction: column;
  text-align: left;
  font-size: calc(10px + 1vmin);
}

.test-page__quote ul {
  margin: 0;
}
