{
  "printWidth": 120,
  "trailingComma": "all",
  "useTabs": false,
  "tabWidth": 2,
  "semi": true,
  "singleQuote": false,
  "bracketSpacing": true,
  "jsxBracketSameLine": false,
  "arrowParens": "always",
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "importOrder": [
    "^node:(.*)?$",
    "^react-hot-loader(.*)?$",
    "^react(.*)?$",
    "<THIRD_PARTY_MODULES>",
    "^[./].*(?<!\\.(c|le|sc)ss)$",
    "\\.(c|le|sc)ss$"
  ],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true
}
